################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASPDotNetServer/.vs/ASPDotNetServer
/ASPDotNetServer/ASPDotNetCore/bin
/ASPDotNetServer/ASPDotNetCore/obj
/ASPDotNetServer/ASPDotNetCore/Properties/PublishProfiles